html {
  font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Fira Sans', sans-serif;

}
body {
  font-family:times;
  background-color: #F2F1E8;
  width:100%;
}

nav {
  display: flex;
  justify-content: center;
  position: relative;
  height: 80px;
  align-items: center;
}

nav a{
  padding: 0 4em;
}
 nav img {
   position: absolute;
   left: 10px;
   top: 10px;
 }
/*Index starts here*/
.where{ /*why doesn't it see the class??*/
  text-align: center;
  font-size: 2em;
  font-family: monospace;
}

.Title{
 text-align: center;
 font-size: 2em;
 font-family: monospace;
}

/*Tried to do this after I did the top and bottom rows, but it didn't help. Wonder why id didn't overwrite my other divs*/

.topRow, .bottomRow{
  display: flex;
  justify-content: space-between;
  height: 30em;
}

.topRow{
  margin-bottom: 0.5em;
}

.pic1{
  background-image: url("images/product-1.jpg");
  background-size: cover;
  position: relative;
  width: 60%;

}

.pic1 p {
  color: white;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 5;
  padding: 1em;
  background-color: black;
  font-size: 2em;

}

.sets{
  background-image: url("images/product-2.jpg");
  background-size: cover;
  position: relative;
  width: 18%;
}

.sets p {
  color: white;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 5;
  padding: 1em;
  background-color: black;
  font-size: 2em;
  display: flex;
  align-content: baseline;
}

.textures{
  background-image: url("images/product-3.jpg");
  background-size: cover;
  position: relative;
  width: 18%;
}

.textures p {
  color: white;
  position: absolute;
  bottom: 0;
  padding: 1em;
  background-color: black;
  font-size: 2em;
}


.tea{
  background-image: url("images/product-4.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
  width: 12%;
}

.tea p {
  color:white;
  padding: 1em;
  background-color: black;
  font-size: 2em;
  position: absolute;
  bottom: 0;
}

.containers{
  background-image: url("images/product-5.jpg");
  background-size: cover;
  position: relative;
  background-position: left;
  width: 12%;
}

.containers p {
  color: white;
  padding: 1em;
  background-color: black;
  font-size: 2em;
  position: absolute;
  bottom: 0;

}

.Wasabi{
  background-image: url("images/product-6.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
  width: 60%;
}

.Wasabi p {
  background-color: black;
  color: white;
  padding: 1em;
  font-size: 2em;
  position: absolute;
  bottom: 0;

}

.sip{
  background-image: url("images/product-7.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
  width: 12%;
}
.sip p{
  background-color: black;
  color: white;
  padding: 1em;
  font-size: 2em;
  position: absolute;
  bottom: 0;

}



/*"About" page starts here*/
.top{
  width: 70%;
  padding-left: 4em 4em 4em 4em;
  margin: auto;
  margin: auto;
}
.birdHouse {
  display: flex;
  justify-content: space-around;
}
.quote1 {
  border-left: 2px solid brown;
}
.room {
background: url("images/background-3.jpg") fixed no-repeat;
  background-size: cover;
  background-position: center;
}
.textroom{
  text-align: center;
  padding: 2em 3em 3em 3em;
  border-radius: 2em 3em 3em 3em;
  color: white
}
header{
  background-color: black
  padding: 2em 3em 3em 3em;
}


table {border: 1px solid brown;
border-collapse: collapse;
}

td {
  border: 1px solid brown;
  padding:0.5em;}



.artist {
  font-size: 2em;
  color: black;
}

nav {
  background-color: white;
  font-size: 1em;
  color: black;
}

.bottom{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4em 4em 4em 4em;
 /*why did my width go screwed up? It used to look fine. I did it the same way as the "top", but after adding flex it got messes up...*/

}
.paragraph{
  width: 60%;
}
.side_pic{
  width: 20%;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: center;

}

/*Newsletter page starts here*/

.all{
  background-image: url("images/background-2.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.bigBox{
  text-align: center;
}

form{
  background-color: white;
  padding: 5%;
  border-radius: 5px;
  margin: 10em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#Name, #email{
  width: 100%;
  height: 10%;
  font-size: 1em;
  margin-bottom: 1em;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

}
footer #copy{
  background-color: black;
  font-size: 2em;
  color: white;
}
