html {
  font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Fira Sans', sans-serif;

}
body {
  font-family:times;
  background-color: #F2F1E8;
}

.navigation>a{
  display: flex;
} /* Confused about this */

/*Index starts here*/

/*why doesn't "topIndex" change anything?*/
.Title{
 text-align: center;
 font-size: 2em;
 font-family: monospace;

 .where{ /*why doesn't it see the class??*/
   text-align: center;
   font-size: 2em;
   font-family: monospace;
}
.topRow {

}



/*"About" pagestarts here*/
.top{
  width: 70%;
  padding-left: 4em 4em 4em 4em;
  margin: auto;
  margin: auto;
}
.birdHouse {
  display: flex;
  justify-content: space-around;
}
.quote1 {
  border-left: 2px solid brown;
}
.room {
background-image: url("/Users/yanawilkins/Documents/week-one-project/images/background-3.jpg");
  background-size: cover;
  background-position: center;
}
.textroom{
  text-align: center;
  padding: 2em 3em 3em 3em;
  border-radius: 2em 3em 3em 3em;
  color: white
}
header{
  background-color: black
  padding: 2em 3em 3em 3em;
}

table {border: 1px solid brown;
border-collapse: collapse;
}
td {border: 1px solid brown;}



.artist {
  font-size: 2em;
  color: black;
}

nav {
  background-color: white;
  font-size: 1em;
  color: black;
}

.bottom{
  display: flex;
  justify-content: space-between;
  width: 70%
  padding-left: 4em 4em 4em 4em;
 /*why did my width go screwed up? It used to look fine. I did it the same way as the "top", but after adding flex it got messes up...*/

}
.side-pic{
  flex-basis: 220px;
  }
.paragraph {
  flex-basis: 640;
}

/*Newsletter page starts here*/

.all{
  background-image: url("/Users/yanawilkins/Documents/week-one-project/images/background-2.jpg");
  background-size: cover;
  background-position: center;
}
/*don't see the background for some reason*/
.bigBox{
  text-align: center;
}
form{
  background-color: white;
  padding: 5em 5em 5em 5em;
  border-radius: 5px;
  width: 10em;
  margin: auto;
  /*not working...*/
}
footer{
  background-color: black;
  font-size: 2em;
  color: white;
}
/*could see this working earlier, but then it stopped working*/
